body{
    margin: 0;
    padding: 0;
}

.carousel{
 position: relative;
    width: 100%;
    height: 440px;
    background-color: red;
    overflow: hidden;
}

.carousel img{
    display: block;
    width: 960px;
    height: 440px;
   margin: 0 auto;
}

.carousel-1{
    background-color: #223240;

}
.carousel-2{
    background-color: #F5E4DC;
}
.carousel-3{
    background-color: #DE2A2D;
}
.button{
    font-size: 30px;
    cursor:pointer;
    text-align: center;
}
.button span{
    color: #999;
}
